<h1>Listing users</h1>

<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-12">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    
    <% @users.each do |user| %>
      <tr>
        <td id="blah" class="user_name highlight">
          <%= user.name %>
        </td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<br />

<%= link_to 'New User', new_user_path %>
